.containerMenuGoods {
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

li {
    color: rgb(2, 2, 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 60px;
}

li:hover {
    color: blue;
    cursor: pointer;
}

p {
   font-size: 12px;
   color: blue;
}

li:hover p {
    color: rgb(0, 0, 0);
    transform: scaleY(-1);
}

.dropdownContentContainer {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 60%;
    z-index: 1;
    position: absolute;
    border-radius: 15px;
    box-shadow: 2px -3px 7px 1px rgba(0,0,0,0.2);
    top: 190px;
    right: 5%;
    left: 5%;
}

li:hover .dropdownContentContainer {display: block;}

.dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}