.categoryContainer {
    width: 200px;
    height: auto;
}

.categoryList {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

li {
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

li:hover {
    color: blue;
    cursor: pointer;
}