.productCard {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   width: 220px;
   border: rgb(167, 166, 166) 1px solid;
   border-radius: 15px;
   padding: 20px 10px 20px 10px;
   height: 390px;
}

.productCard:hover {
   box-shadow: 3px 3px 10px 1px gray;
}

.Image {
   height: 45%;
}

.productCard img {
   height: 80%;
   max-width: 200px;
}

.productCard img:hover {
   cursor: pointer;
}

.productName {
   color: black;
   text-decoration: none;
   font-size: 16px;
   font-weight: 500;
   height: 50px;
   margin: 0;
}

.productName:hover {
   cursor: pointer;
   text-decoration: underline;
}

.productText {
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;
   width: 220px;
   height: 50%;
}

.productPrice {
   display: flex;
   align-items: center;
   gap: 5px;
   color: blue;
   margin: 0;
}

.priceNumber {
   font-size: 26px;
   font-weight: 700;
   margin: 0;
}

.productCurrency {
   color: black;
   font-size: 18px;
   padding-top: 4px;
   margin: 0;
}

.productText button {
   width: 220px;
   height: 50px;
   font-size: 18px;
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-top: 10px;
   border-radius: 15px;
   border-color: inherit;
   background-color: blue;
   cursor: pointer;
   color: rgb(255, 255, 255);
}

