.container {
    background-image: url(https://img.freepik.com/premium-photo/grunge-texture-on-dark-wallpaper_1258-14137.jpg);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.phoneImg {
    width: 20px;
    margin-left: 60px;
}

.entrance {
    background-color: initial;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
}
.entrance:hover {
    color: blue;
}

.menu {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 35px;
    font-size: 18px;
    margin: 0 20px 0 20px;
    font-weight: 500;
}

.menu a:hover {
    color: blue;
    cursor: pointer;
}