.container {
    background-color: rgb(30, 30, 30);
    height: 130px;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 24px;
}

.search {
    width: 450px;
    height: 35px;
    border-radius: 10px;
    color: rgb(43, 43, 43);
    font-size: 16px;
    padding: 0 10px 0 10px;
}

.searchImg {
    width: 25px;
    margin-right: 10px;
}

.phone {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.phoneImg {
    width: 20px;
    margin-left: 100px;
}

