.login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.129);
    border-radius: 15px;
    box-shadow: 2px -3px 7px 1px rgba(0,0,0,0.2);
    width: 500px;
    height: 420px;
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    gap: 20px;
    width: 65%;
    margin-bottom: 20px;
}

h1 {
    color: blue;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

input {
    width: 180px;
    height: 40px;
    border-radius: 15px;
    border-color: blue;
    padding: 0 15px 0 15px;
    font-size: 20px;
}

.buttonLogin {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border-color: rgb(3, 3, 159);
    background-color: blue;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.buttonRegistration {
    border: none;
    background-color: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.buttonRegistration:hover {
    color: blue;
}